@media only screen and (min-width: 600px) {
	body {
		padding-left: 25%;
		padding-right: 25%;
	}
}

@media only screen and (max-width: 600px) {
	body {
		padding-left: 5%;
		padding-right: 5%;
	}
}

body {
	background-image: url('home_page.jpg');
	background-repeat: no-repeat;
	background-size: cover;
}

button {
	cursor: pointer;
}

.section-div {
	border: 3px solid #3a3a3a;
	padding: 25px 10px 25px 10px;
	margin-top: 10px;
	margin-bottom: 10px;
	text-align: center;
	background-color: #7a8eff;
	color: #fff;
	font-size: 18px;
	font-family: monospace;
	box-shadow: 3px 5px 2px #bbbbbb;
}

.section-div:hover {
	background-color: green;
	cursor: pointer;
}

.section-red {
	background-color: #ff5d5d;
}

.section-boxes {
	margin-top: 30px;
}

a {
	text-decoration: none;
}

img {
	position: center;
}